{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "indent": ["error", 4],
        "max-len": ["error", 140],
        "react/prefer-stateless-function": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/forbid-prop-types": 1,
        "global-require": "off",
        "comma-dangle": "off",
        "arrow-parens": "off",
        "react-native/no-unused-styles": 2,
        "react-native/split-platform-components": 2,
        "react-native/no-inline-styles": 2,
        "react-native/no-color-literals": 1,
        "react-native/no-raw-text": 2,
        "no-use-before-define": "off",
        "import/no-extraneous-dependencies": "off",
        "import/first": "off",
        "import/prefer-default-export": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "space-before-function-paren": "off"
    }
}
